# BEGIN FEEDPRESS
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} !FeedValidator [NC]
RewriteCond %{HTTP_USER_AGENT} !FeedPress [NC]
RewriteRule ^feed.*$ http://feedpress.me/dyscribe [R=302,NC,L]
# END FEEDPRESS


# Disable directory browsing
Options -Indexes

# Define UTF-8 Charset
AddDefaultCharset utf-8

# Enforce https
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://dyscribe.com/$1 [R,L]

# Normalize urls (redirect www to /)
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} ^www.dyscribe.com [NC]
RewriteRule ^(.*)$ https://dyscribe.com/$1 [L,R=301]
RewriteCond %{HTTP_REFERER} ^http://.*7makemoneyonline\.com/ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://.*buttons-for-websites\.com/ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://.*social-buttons\.com/ [NC,OR]
RewriteCond %{HTTP_REFERER} ^http://.*semalt\.com/ [NC]
RewriteRule ^(.*)$ – [F,L]

Redirect /podcasting/podcast-analytics-feedpress-vs-s3stat/ https://dyscribe.com/en/podcasting/podcast-analytics-feedpress-vs-s3stat/
Redirect /podcasting/podcasting-with-jekyll-in-4-steps/ https://dyscribe.com/en/podcasting/podcasting-with-jekyll-in-4-steps/
Redirect /raspberrypi/setting-up-wifi-on-raspberry-pi/ https://dyscribe.com/en/raspberrypi/setting-up-wifi-on-raspberry-pi/
Redirect /raspberrypi/install-raspbian-os-to-raspberrypi/ https://dyscribe.com/en/raspberrypi/install-raspbian-os-to-raspberrypi/
Redirect /raspberrypi/disable-raspberrypi-login https://dyscribe.com/en/raspberrypi/disable-raspberrypi-login/
Redirect /raspberrypi/boot-raspi-in-browser/ https://dyscribe.com/en/raspberrypi/boot-raspi-in-browser/
Redirect /events/responsive-day-out-3/ https://dyscribe.com/en/events/responsive-day-out-3/
Redirect /webdesign/create-your-own-custom-iconfont/ https://dyscribe.com/en/webdesign/create-your-own-custom-iconfont/
Redirect /productivity/8-tools-to-improve-design-workflow/ https://dyscribe.com/en/productivity/8-tools-to-improve-design-workflow/
Redirect /webdesign/web-technology-badge-design/ https://dyscribe.com/en/webdesign/web-technology-badge-design/
Redirect /dashing-dashboard-on-raspberry-pi/ https://dyscribe.com/en/dashing-dashboard-on-raspberry-pi/
Redirect /productivity/markdown/ https://dyscribe.com/en/productivity/markdown/
Redirect /ux/ux-design-you-are-thinking-it-wrong/ https://dyscribe.com/en/ux/ux-design-you-are-thinking-it-wrong/
Redirect /blog/create-your-own-custom-iconfont/ https://dyscribe.com/en/webdesign/create-your-own-custom-iconfont/
Redirect /article/create-your-own-custom-iconfont/
https://dyscribe.com/en/webdesign/create-your-own-custom-iconfont/


# Keep alive
<IfModule mod_headers.c>
 Header set Connection keep-alive
</IfModule>

# Deflate compression by MimeType
<IfModule mod_deflate.c>
 <FilesMatch "\.(js|min.js|jpg|jpeg|gif|png|ico|json|html|css)$">
  ExpiresActive on
  ExpiresDefault "access plus 1 month"
  SetOutputFilter DEFLATE
 </FilesMatch>
</IfModule>

# DEFLATE by type - html, text, css, xml
AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml

# Use gzip compression if available
<IfModule mod_gzip.c>
 mod_gzip_on       Yes
 mod_gzip_dechunk  Yes
 mod_gzip_item_include file      \.(html?|txt|css|js|php|pl|json|min.js)$
 mod_gzip_item_include handler   ^cgi-script$
 mod_gzip_item_include mime      ^text/.*
 mod_gzip_item_include mime      ^application/x-javascript.*
 mod_gzip_item_exclude mime      ^image/.*
 mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
</IfModule>

# Enable caching
<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf|json)$">
 Header set Cache-Control "max-age=2592000"
</FilesMatch>

# Custom error pages
ErrorDocument 404 /404.html
