<div class="header-wrapper" style="background-image: url({{ site.url }}/images/page_header.jpg);">
    {% include head_navigation.html %}
    <header class="entry-header">
        <a href="{{ site.url }}/about" class="site-logo" rel="home" title="{{ site.title }}"><div id ="page-logo" class="animated fadeInUp"></div></a>
        <span id="page-title" class="site-title animated fadeIn"><a href="{{ site.url }}">{{ site.title }}</a></span>
        <span id="page-claim" class="site-description animated fadeIn">{{ site.subclaim }}</span>
    </header>
</div>
